<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/css/bootstrap5-toggle.min.css" rel="stylesheet">

    <title>Home page</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-10">
    <div class="container-md">

        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <div class="d-flex mx-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                <form class="d-flex mx-auto mb-2 mb-lg-0">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div class="d-flex mx-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="me-2 pt-2">
                    Привет, <span th:text="${#authentication.name}">пользователь</span>!
                </div>
                <form class="d-flex ms-2 mb-2 mb-lg-0" action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Log out</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>

            <div class="d-flex" th:unless="${#authorization.expression('isAuthenticated()')}">
                <form class="p-1 bd-highlight mb-2 mb-lg-0" action="#" th:action="@{/login}" method="GET">
                    <button type="submit" class="btn btn-success">Login</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
                <form class="p-1 bd-highlight d-flex mb-2 mb-lg-0" action="#" th:action="@{/register}" method="GET">
                    <button type="submit" class="btn btn-success">Register</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>

        </div>
    </div>
</nav>

<body>
<div class="container text-center">
    <div class="row">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <div th:replace="~{upload-input :: div}"></div>
        </div>

        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            Пожалуйста, <a href="/login">войдите</a>.
        </div>
    </div>
</div>


<div th:if="${#authorization.expression('isAuthenticated()')}">
    <div class="container pt-3">

        <div class="pe-2" th:replace="~{breadcrums :: div}"></div>

        <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-md-2 row-cols-sm-1 row-cols-1  g-4">

            <div th:each="file : ${FilesContainer.getFiles()}">
                <div class="col mx-auto">
                    <div class="card text-center mx-auto" style="width: 18rem;">

                        <div class="card-body">
                            <form th:action="@{/}" method="post">

                                <p class="card-text">
                                    <img th:src="|images/extension-icons/${file.extension}.svg|" width="100px"/>
                                </p>
                                <h5 class="card-title" th:text="${file.filename}">Card title</h5>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:text="'Extension: ' + ${file.extension}">
                                        Extension
                                    </li>
                                </ul>

                                <input type="hidden" th:value="${file.filename}" name="filename">
                                <input type="hidden" th:value="${file.extension}" name="extension">

                                <button type="submit" class="btn btn-outline-danger mt-1">Delete</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/js/bootstrap5-toggle.ecmas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
