<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-md">

            <a class="navbar-brand" href="/home">File storage</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/search">Search</a>
                    </li>
                </ul>

                <div class="d-flex mx-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                    <form class="d-flex mx-auto mb-2 mb-lg-0" th:action="@{/search(query=${param.query})}" method="get">
                        <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="d-flex ms-auto me-0" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="me-2 pt-2">
                        Hello, <span th:text="${#authentication.name}">user</span>!
                    </div>
                    <form class="d-flex ms-2 mb-2 mb-lg-0" action="#" th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Log out</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                </div>

                <div class="d-flex" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <form class="p-1 bd-highlight mb-2 mb-lg-0" action="#" th:action="@{/login}" method="GET">
                        <button type="submit" class="btn btn-success">Login</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <form class="p-1 bd-highlight d-flex mb-2 mb-lg-0" action="#" th:action="@{/register}" method="GET">
                        <button type="submit" class="btn btn-success">Register</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                </div>

            </div>
        </div>
    </nav>
</div>