<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/css/bootstrap5-toggle.min.css" rel="stylesheet">

    <title>Home page</title>
</head>
<nav th:insert="~{navbar :: navbar}"></nav>
<body>

<div class="container">

    <h4 class="text-center pt-3" th:if="${FoundFiles.isEmpty()}">
        No results found
    </h4>

    <div th:each="file : ${FoundFiles}" class="list-group pt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span style="max-width: 80%" th:text="${file.filePath.pathString} + ${file.fileInfo.getFilenameWithExtension()}">An item</span>
            <div>
                <a role="button" class="btn btn-success ms-2 my-2"
                   th:href="@{/file/download(path=${file.filePath.pathString},
                   filename=${file.fileInfo.filename},
                   extension =${file.fileInfo.extension})}"> Download
                </a>

                <a role="button" class="btn btn-success ms-2 my-2"
                   th:href="@{/home(path=${file.filePath.pathString})}"> Go to
                </a>
            </div>
        </li>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/js/bootstrap5-toggle.ecmas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
